/* Gradient transparent - color - transparent */

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

h1.header {
	text-align: center;
	letter-spacing: .4em;
	font-style: italic;
	font-weight: bold;
}

h2.header {
	text-align: center;
	letter-spacing: .2em;
	font-style: italic;
}

h3.header {
	text-align: center;
	letter-spacing: .26em;
}

h4.header {
	text-align: center;
	letter-spacing: .26em;
	font-style: italic;
}

a:link {
	color: #0e726f;
}

a:hover {
	color: #8023ba;
}

img.header {
	display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
	text-align: center;
	letter-spacing: .05em;
}

#footer {
	text-align: center;
	letter-spacing: .3em;
	color: #b73874;
}

body {
	background-image: url('../img/background.jpg');
	background-attachment: fixed;
	background-size: 100% 100%;
	background-position: fixed;
	max-width: 100%;
	max-height: 100%;
	background-repeat: no-repeat;
}